.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    place-items: center;
}

.gridDetailsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.gridCarousel {
    width: 60%;
    padding-left: 30px;
    padding-top: 20px;
}

@media (max-width: 700px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }

    .gridCarousel {
        width: 250px;
        padding-left: 30px;
        padding-top: 20px;
    }
}